[submodule "geographiclib"]
	path = include/geographiclib
	url = git://git.code.sourceforge.net/p/geographiclib/code
[submodule "json"]
	path = include/json
	url = https://github.com/nlohmann/json.git
[submodule "cpr"]
	path = include/cpr
	url = git@github.com:whoshuu/cpr.git
